<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height"><img src='${properties.capstoneBannerImg1}' alt="img">
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Dec 31,2017
                    </a></div>
                    <div class=""> ${properties.imgDesc1}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-6 paddding animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src='${properties.capstoneBannerImg2}' alt="img">
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                28,2017 </a></div>
                            <div class=""> ${properties.imgDesc2}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src='${properties.capstoneBannerImg3}' alt="img">
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct 28,2017 </a></div>
                            <div class="">${properties.imgDesc3}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src='${properties.capstoneBannerImg4}' alt="img">
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                28,2017 </a></div>
                            <div class="">${properties.imgDesc4}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2"><img src='${properties.capstoneBannerImg5}' alt="img">
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                28,2017 </a></div>
                            <div class="">${properties.imgDesc5}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>